@{
    ViewData["Title"] = "Upload KTP";
    string nik = ViewData["nik"].ToString();
    string nama = ViewData["nama"].ToString();
    string domisili = ViewData["domisili"].ToString();
}
<h4>@ViewData["Title"]</h4>

<form class="col-xs-12" method="post" action="/Home/Upload" enctype="multipart/form-data">

    <div class="form-group">
        <input type="file" class="form-control" name="image" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary col-xs-12">Unggah</button>
    </div>
</form>
@if (!Convert.ToBoolean(ViewData["firstLoad"]))
{
    @if (!string.IsNullOrEmpty(nik))
    {
        <div class="alert alert-success" role="alert">
            NIK anda adalah : @nik <br />
            Nama : @nama <br />
            Domisili : @domisili
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Image yang anda upload bukan format KTP yang valid atau gambar tidak terlalu jelas untuk dikenali system, mohon cek kembali file anda.
        </div>
    }
}
